ANTHROPIC_API_KEY=...
TAVILY_API_KEY=...
SUPABASE_URL=https://your-project.supabase.co
SUPABASE_SERVICE_KEY=...

LANGSMITH_API_KEY=...
LANGSMITH_PROJECT="lsd-react-ui-custom-route"
LANGSMITH_TRACING="true"
